@model MyCompany.Visitors.Model.Visit

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="form-horizontal">
        <legend>Visit</legend>

        @Html.HiddenFor(model => model.VisitId)

        <div class="control-group">
            @Html.LabelFor(model => model.VisitorId, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.VisitorId)
                @Html.ValidationMessageFor(model => model.VisitorId, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.CreatedDateTime, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.CreatedDateTime)
                @Html.ValidationMessageFor(model => model.CreatedDateTime, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.VisitDateTime, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.VisitDateTime)
                @Html.ValidationMessageFor(model => model.VisitDateTime, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.HasCar, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.HasCar)
                @Html.ValidationMessageFor(model => model.HasCar, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Plate, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Plate)
                @Html.ValidationMessageFor(model => model.Plate, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Comments, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Comments)
                @Html.ValidationMessageFor(model => model.Comments, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.EmployeeId, "EmployeeId", new { @class = "control-label" })
            <div class="controls">
                @Html.DropDownList("EmployeeId", String.Empty)
                @Html.ValidationMessageFor(model => model.EmployeeId, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status, null, new { @class = "help-inline" })
            </div>
        </div>

        <div class="form-actions no-color">
            <input type="submit" value="Save" class="btn" />
        </div>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

