@model Microsoft.WindowsAzure.ActiveDirectory.Group


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>


<fieldset>
    <legend>Group</legend>
    
        <div>
        @Html.DisplayNameFor(model => model.dirSyncEnabled) : @Html.DisplayFor(model => model.dirSyncEnabled)
    </div>
    
            <div>
         @Html.DisplayNameFor(model => model.lastDirSyncTime) : @Html.DisplayFor(model => model.lastDirSyncTime)
    </div> 

    
    <div>
         @Html.DisplayNameFor(model => model.objectId) : @Html.DisplayFor(model => model.objectId)
    </div>
    
        <div>
         @Html.DisplayNameFor(model => model.objectType) : @Html.DisplayFor(model => model.objectType)
    </div>
      
    <div>
         @Html.DisplayNameFor(model => model.mailNickname) : @Html.DisplayFor(model => model.mailNickname)
    </div>

    <div>
        @Html.DisplayNameFor(model => model.displayName) : @Html.DisplayFor(model => model.displayName)
    </div>
    
    <div>
        @Html.DisplayNameFor(model => model.description) : @Html.DisplayFor(model => model.description)
    </div>
    
        <div>
         @Html.DisplayNameFor(model => model.owners) : @Html.DisplayFor(model => model.owners)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.mailEnabled) : @Html.DisplayFor(model => model.mailEnabled)
    </div>  
    
            <div>
         @Html.DisplayNameFor(model => model.securityEnabled) : @Html.DisplayFor(model => model.securityEnabled)
    </div>   
   
   

</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.objectId }) |
    @Html.ActionLink("Back to List", "Index") 
</p>
