@model IEnumerable<Microsoft.WindowsAzure.ActiveDirectory.Group>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm()) 
{ 
    <p> 
        Query by Display Name: @Html.TextBox("DisplayName", ViewBag.CurrentFilter as string)   
        <input type="submit" value="Search" /></p> 
} 

<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.displayName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dirSyncEnabled)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mailEnabled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.displayName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.dirSyncEnabled)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.mailEnabled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.objectId }) |
            @Html.ActionLink("Details", "Details", new { id=item.objectId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.objectId }) |
            @Html.ActionLink("User Management", "ManageUsers", new { id=item.objectId })
        </td>
    </tr>
}

</table>
@if (ViewBag.ContinuationToken != null)
{
    @Html.ActionLink("Next >", "Index", new { nextLinkUri = ViewBag.ContinuationToken });
}

@Html.ActionLink("Return to complete list", "Index")