@model MvcDirectoryGraphSample.Models.GroupUsersModel

@{
    ViewBag.Title = "Manage Users for " + Model.Group.displayName;
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Submit", "GroupUsersModel", FormMethod.Post)) 
{
    @Html.Hidden("id", Model.Group.objectId)    
    if (Model.OtherUsers.Any())
    {    
        <label>Add User to group:</label><br />
    foreach (var user in Model.OtherUsers)
    {
             <input type="checkbox" name="addusers" value="@user.objectId" />@user.displayName <br />
    }
    }

    if (Model.CurrentGroupUsers.Any())
    {    
        <br /><label>Remove user from group:</label><br />
    foreach (var user in Model.CurrentGroupUsers)
    {
        <input type="checkbox" name="removeusers" value="@user.objectId"/>@user.displayName<br />
    }
    }
    <p>
        <input type="submit" value="Submit" />
    </p>        
}

<p>    
  @*  @Html.ActionLink("Back to List", "Users", new { type = "current" }) *@
        @Html.ActionLink("Back to List", "Index")
</p>
