@model Microsoft.WindowsAzure.ActiveDirectory.User

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

 <b>Thumbnail Photo: </b>  <img src='@Url.Action( "ShowThumbnail", "user", new { id = Model.objectId } )' alt="No Image Exists"/>
            

<fieldset>
    <legend>User</legend>
    <div>
         @Html.DisplayNameFor(model => model.dirSyncEnabled) : @Html.DisplayFor(model => model.dirSyncEnabled)
    </div>
    
    <div>
         @Html.DisplayNameFor(model => model.accountEnabled) : @Html.DisplayFor(model => model.accountEnabled)
    </div>
    <div>
         @Html.DisplayNameFor(model => model.city) : @Html.DisplayFor(model => model.city)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.country) : @Html.DisplayFor(model => model.country)
    </div>

   <div>
         @Html.DisplayNameFor(model => model.department) : @Html.DisplayFor(model => model.department)
    </div>


    <div>
         @Html.DisplayNameFor(model => model.displayName) : @Html.DisplayFor(model => model.displayName)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.facsimileTelephoneNumber) : @Html.DisplayFor(model => model.facsimileTelephoneNumber)
    </div>
    
    <div>
         @Html.DisplayNameFor(model => model.givenName) : @Html.DisplayFor(model => model.givenName)
    </div>
    
    <div>
        @Html.DisplayNameFor(model => model.jobTitle) : @Html.DisplayFor(model => model.jobTitle)
    </div>

     <div>
         @Html.DisplayNameFor(model => model.immutableId) : @Html.DisplayFor(model => model.immutableId)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.lastDirSyncTime) : @Html.DisplayFor(model => model.lastDirSyncTime)
    </div>        

    <div>
         @Html.DisplayNameFor(model => model.mail) : @Html.DisplayFor(model => model.mail)
    </div>        
    
    <div>
         @Html.DisplayNameFor(model => model.mobile) : @Html.DisplayFor(model => model.mobile)
    </div>        

    <div>
         @Html.DisplayNameFor(model => model.passwordPolicies) : @Html.DisplayFor(model => model.passwordPolicies)
    </div>        

    <div>
         @Html.DisplayNameFor(model => model.physicalDeliveryOfficeName) : @Html.DisplayFor(model => model.physicalDeliveryOfficeName)
    </div>        

    <div>
         @Html.DisplayNameFor(model => model.postalCode) : @Html.DisplayFor(model => model.postalCode)
    </div>        

    <div>
         @Html.DisplayNameFor(model => model.preferredLanguage) : @Html.DisplayFor(model => model.preferredLanguage)
    </div>        

    <div>
         @Html.DisplayNameFor(model => model.state) : @Html.DisplayFor(model => model.state)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.streetAddress) : @Html.DisplayFor(model => model.streetAddress)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.surname) : @Html.DisplayFor(model => model.surname)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.telephoneNumber) : @Html.DisplayFor(model => model.telephoneNumber)
    </div>
    
    <div>
         @Html.DisplayNameFor(model => model.userType) : @Html.DisplayFor(model => model.userType)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.usageLocation) : @Html.DisplayFor(model => model.usageLocation)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.userPrincipalName) : @Html.DisplayFor(model => model.userPrincipalName)
    </div>
    
        <div>
         @Html.DisplayNameFor(model => model.ownedObjects) : @Html.DisplayFor(model => model.ownedObjects)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.objectId) : @Html.DisplayFor(model => model.objectId)
    </div>

    <div>
         @Html.DisplayNameFor(model => model.objectType) : @Html.DisplayFor(model => model.objectType)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.objectId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
