@model MvcDirectoryGraphSample.Models.UserRolesModel

@{
    ViewBag.Title = "Manage Roles for " + Model.User.displayName;
}

<h2>@ViewBag.Title</h2>

<h3>Assign Role</h3>
@using (Html.BeginForm("Submit", "UserRolesModel", FormMethod.Post)) 
{
    @Html.Hidden("id", Model.User.objectId)    
    if (Model.UnassignedRoles.Any())
    {    
        <label>Add User to role:</label><br />
    foreach (var role in Model.UnassignedRoles)
    {
             <input type="checkbox" name="addRoles" value="@role.objectId" />@role.displayName <br />
    }
    }

    if (Model.CurrentRoles.Any())
    {    
        <br /><label>Remove user from role:</label><br />
    foreach (var role in Model.CurrentRoles)
    {
        <input type="checkbox" name="removeRoles" value="@role.objectId"/>@role.displayName<br />
    }
    }
    <p>
        <input type="submit" value="Submit" />
    </p>        
}

<p>    
@*    @Html.ActionLink("Back to List", "Users", new { type = "current" })  *@
        @Html.ActionLink("Back to List", "Index")
</p>

@*<table>
@using (Html.BeginForm("Submit", "UserRolesModel", FormMethod.Post)) {
    @Html.ValidationSummary(true)
    
    @Html.HiddenFor(model => model.User.ObjectReference)
    
    if (Model.CurrentRoles.Any())
    {
        <tr><td style="font-weight:bold">Remove:</td></tr>
        foreach (var item in Model.CurrentRoles)
        {
            <tr>
              <td width="5%"> @Html.CheckBox(item.ObjectReference) </td>
              <td>   @Html.Label(item.DisplayName) </td>              
            </tr>
        }
    }
    if (Model.UnassignedRoles.Any())
    {
        <tr><td style="font-weight:bold">Add:</td></tr>
        foreach (var item in Model.UnassignedRoles)
        {
            <tr>
              <td width="5%"> @Html.CheckBox(item.ObjectReference) </td>
              <td>   @Html.Label(item.DisplayName) </td>              
            </tr>
        }
    }
    
        <tr>
            <td> <input type="submit" value="Submit" /></td>
        </tr>    
}
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
