<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="@Url.Content("~/Content/themes/base/Site.css")" 
                   rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("/Scripts/jquery-1.6.2.min.js")"></script>
    @RenderSection("JavaScript", required: false)


</head>
<body>


    @Scripts.Render("~/bundles/jquery")
    <div id="header">
        <div id="title">
            <img src="@Url.Content("~/img/logo.jpg")" style="width:50px;height:50px" alt="Music" />
            ASP.NET MVC MUSIC STORE             
        </div>
    </div>
    <ul id="navlist">
        <li class="first"><a href="/"
            id="current">Home</a></li>
        <li><a
            href="/Store/">Store</a></li>
        <link href="@Url.Content("~/Content/themes/base/Site.css")" 
                   rel="stylesheet" type="text/css" />
    </ul>

    <p>
        @Html.ActionLink("Back to List", "/Index")
        @Html.ActionLink("Back to Home", "../home/Index")
    </p>
    <div id="main">
        @RenderSection("scripts", required: false)
        @RenderBody()
        <div id="footer">
            @RenderSection("Footer", false)
        </div>
    </div>
</body>
</html>
