@model SAPO.Demo.MVC.ECommerce.Models.Album
<style>
     .review div
    {    
	width:450px;
	border:1px solid #ddd;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	padding-bottom:6px;
	margin-bottom:20px;
    }


</style>
<div class="review">
    @Html.RadioButtonFor(m => Model.Title, Model.ID, Model.IsBookMarked == true ? new { @checked = "checked" } : null)
    @Html.Image(Model.URL, Model.Title, Model.ID.ToString())
    <strong>@Model.Title</strong></br>
    @Model.SubTitle
    @Html.Raw(Model.Description)   
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID })
    <input type="submit" value="Delete" id="dlt" />
</div>
