@model IEnumerable<MasterDetail.Models.SalesMain>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            ReferenceNo
        </th>
        <th>
            SalesDate
        </th>
        <th>
            SalesPerson
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ReferenceNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesPerson)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SalesId }) |
            @Html.ActionLink("Details", "Details", new { id=item.SalesId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SalesId })
        </td>
    </tr>
}

</table>
