<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body ng-app="ChatApp">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("SignalR Chat", "Index", "Home", null, new { @class = "navbar-brand" })
            </div>



            <div class="navbar-collapse collapse" ng-controller="headerController">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("Chat", "Chat", "Home", new { area = "" }, null)</li>
                    <li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>
                    <li>
                        <div class="nav notify-row" id="top_menu">
                            <!--  notification start -->
                            <ul class="nav top-menu">
                                <!-- inbox dropdown start-->
                                <li id="header_inbox_bar" class="dropdown">
                                    <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                                        <i class="fa fa-envelope-o"></i>
                                        <span class="badge bg-theme">{{messageCount}}</span>
                                    </a>
                                    <ul class="dropdown-menu extended inbox">
                                        <div class="notify-arrow notify-arrow-green"></div>
                                        <li>
                                            <p class="green">You have {{messageCount}} new messages</p>
                                        </li>
                                        @*<li data-ng-repeat="(group, message) in groupedMessages">*@
                                        <li ng-repeat="(user, messages) in groups">
                                            <a href="index.html#">
                                                <span class="photo"><img alt="avatar" src="assets/img/ui-zac.jpg"></span>
                                                <span class="subject">
                                                    <span class="from">{{user}}</span>
                                                    <span class="time">{{messages.length}}</span>
                                                </span>
                                                <span class="message">
                                                    Hi mate, how is everything?
                                                </span>
                                            </a>
                                        </li>
                                        @*<li>
                                                <a href="index.html#">
                                                    <span class="photo"><img alt="avatar" src="assets/img/ui-divya.jpg"></span>
                                                    <span class="subject">
                                                        <span class="from">Divya Manian</span>
                                                        <span class="time">40 mins.</span>
                                                    </span>
                                                    <span class="message">
                                                        Hi, I need your help with this.
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html#">
                                                    <span class="photo"><img alt="avatar" src="assets/img/ui-danro.jpg"></span>
                                                    <span class="subject">
                                                        <span class="from">Dan Rogers</span>
                                                        <span class="time">2 hrs.</span>
                                                    </span>
                                                    <span class="message">
                                                        Love your new Dashboard.
                                                    </span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="index.html#">
                                                    <span class="photo"><img alt="avatar" src="assets/img/ui-sherman.jpg"></span>
                                                    <span class="subject">
                                                        <span class="from">Dj Sherman</span>
                                                        <span class="time">4 hrs.</span>
                                                    </span>
                                                    <span class="message">
                                                        Please, answer asap.
                                                    </span>
                                                </a>
                                            </li>*@
                                        <li>
                                            <a href="index.html#">See all messages</a>
                                        </li>
                                    </ul>
                                </li>
                                <!-- inbox dropdown end -->
                            </ul>
                            <!--  notification end -->
                        </div>


                    </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            @*<p>&copy; @DateTime.Now.Year -SignalR Chat</p>*@
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/ChatScripts/angular.min.js"></script>
    <script src="~/ChatScripts/underscore-min.js"></script>
    <script src="~/Scripts/angular-flash.js"></script>
    <script type="text/javascript">

        var app = angular.module("ChatApp", ["flash"]);

    </script>
    <script src="~/ChatScripts/Factories.js"></script>
    <script src="~/ChatScripts/headerController.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
